@charset "UTF-8";
/* CSS Document */


/* layout */

.container {
	margin-left: auto;
	margin-right: auto;
	width: 95%; /* 960px */
	max width: 95%;
	}

.header {
	width: 100%; /* 960px / 960px = 100% */
	background: white;
	}
	
.nav {
	width: 100%; /* 960px / 960px = 100% */
	background: #0080A3;
	margin: 0 0 -20px 0;
	}
	
.content {
		width: 100%; /* 960px / 960px = 100% */
		background: #9AE7FC
		}
		
.footer {
	width: 100%; /* 960px / 960px = 100% */
	background: white;
	
	}
	
	
/* Content */

img[alt="logo"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img[alt="partybanner"] {
	display: block;
	padding: 10px 0;
	margin-left: auto;
	margin-right: auto;
	}
	
ul {
	list-style: none;
	}

a {
	text-decoration: none;
	}
	
	
ul li {
	text-align: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	}
	
.nav ul li a {
	color: white;
	font-family:"helvetica", "Lucida Grande", sans-serif;
	font-size: 24px;
	margin-left: 60px;
}

.footer ul li a {
	color: white;
	font-family:"helvetica", "Lucida Grande", sans-serif;
	font-size: 24px;
}
	
.nav li div {
	display: inline-block;
	padding: 0 50px;
	margin: 5px auto 5px auto;

	}

.footer ul li a {
	color: lightblue;
	font-size: 14px;
	font-family: helvetica sans-serif;
	}
	
.footer li div {
	display: inline-block;
	padding: 0 50px;
	margin-right: auto;
	margin-left: 100px;
	}
	
img[alt="ariel"] {
	float: right;
	padding: 0 20px 20px 40px;
	}
.littler-mermaid {
	margin: auto auto 30px auto;
	}
	
.little-mermaid p {
	font-size: 18px;
	padding: 0px 20px 0px 20px;

	}
	
.beauty {
	float: right;
	}
/* Links */







/* Screen Adaptivity */

@media screen and (max-width: 1024px) {
	body {
		background: white;
		}
	} /*end of desktop */
	

/* tablet */

@media screen and (max-width: 768px) {
	body {
		background: white;
		}
	} /*end of tablet */

/*Phone */

@media screen and (max-width: 480px) {
	body {
		background: white;
		}
		
		aside {
			float: none;
			}
	} /*end of tablet */