body {
  height: 243px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 38px;
  line-height: 44px;
  font-weight: 300;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  height: 40px;
  padding: 4px 15px;
  background-color: #14728c;
  font-family: Lato, sans-serif;
  color: rgba(186, 235, 247, 0.61);
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button.foot_button {
  background-color: rgba(255, 255, 255, 0);
  color: #80e3ff;
  font-size: 12px;
}
.hero_logo {
  height: 215px;
  margin-top: 7px;
  margin-right: 5px;
  margin-bottom: 11px;
  padding-top: 11px;
  padding-right: 29px;
  float: none;
}
.middle {
  height: 550px;
  float: none;
  background-color: rgba(137, 213, 234, 0.65);
}
.header {
  padding-right: 23px;
  float: none;
}
.navigation {
  height: 40px;
  padding-bottom: 0px;
  background-color: #14728c;
}
.logo_landscape {
  margin-top: 9px;
  margin-bottom: 8px;
}
.about_us_middle {
  margin-top: 0px;
  margin-bottom: 2px;
}
.ariel_story {
  margin-top: 35px;
  border-radius: 10px;
  box-shadow: black 2px 2px 13px 0px;
}
.ariel_story.photo_2 {
  margin-top: 31px;
  box-shadow: black 2px 2px 13px 0px;
}
.cast {
  height: 620px;
  background-color: rgba(20, 114, 140, 0.83);
}
.ariel_inside {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.67) 2px 2px 13px 0px;
}
.foot_nav {
  height: 40px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  body {
    float: right;
  }
  .button {
    font-size: 13px;
  }
  .middle {
    width: 577px;
  }
  .logo_landscape {
    margin: 10px 15px 6px 96px;
    padding-right: 0px;
  }
}
@media (max-width: 479px) {
}